{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id ="parentid" style="height: 450px;  width: 100%; float:left;">
{% autoescape off %}
		{{ plot_div_decision2 }}
{% endautoescape %}
</div>
<div id ="parentid" style="height: 450px;  width: 100%; float:left;">
{% autoescape off %}
		{{ plot_div_decision3 }}
{% endautoescape %}
</div>
<div id ="parentid" style="height: 450px;  width: 100%; float:left;">
{% autoescape off %}
		{{ plot_div_bar1 }}
{% endautoescape %}
</div>


<h1 style="font-size:15px;color:#FF00FF;"><center><strong>@A project by Jaishruti Ganesh Mahadevan(SE 4th SEM)</strong></center></h1>	
{% endblock %}

 
 