{% extends 'base.html' %}
{% load static %}
 
{% block title %}Login{% endblock %}
 
{% block content %}
<!--<div class="container">
        <div class="row row-content">
            <div class="col-md-5">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" data-interval="5000">
                            <img class="d-block img-fluid" src="{% static 'images/teams.jpg' %}" alt="Teams">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 style="color:yellow;font-size:200%;">IPL Teams</h5>
                                <p style="color:red;font-size:100%;" class="d-none d-sm-block"><b><i>A CUP TO DREAM OF</i></b></p>
                            </div>
                        </div>

                        <div class="carousel-item" data-interval="5000">
                            <img class="d-block img-fluid" src="{% static 'images/teamEmblems.jpg' %}" alt="Logos">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>

                        <div class="carousel-item" data-interval="5000">
                            <img class="d-block img-fluid" src="{% static 'images/Winner.jpg' %}" alt="Winner">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 style="color:yellow;font-size:200%;"> <b>Champion 2019<b></h5>
								<p style="color:yellow;font-size:100%;" class="d-none d-sm-block">Team to beat</p>
                            </div>
                        </div>
                    </div>
                    
                    <ol class="carousel-indicators">
                        <li data-target="mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="mycarousel" data-slide-to="1"></li>
                        <li data-target="mycarousel" data-slide-to="2"></li>
                    </ol>

                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                    
                    <button class="btn btn-danger btn-sm" id="carouselButton">
                            <span class="fa fa-pause"></span>
                    </button>
                       
                    
                </div>
            </div>
        </div>
    </div>-->
	
	<!--OLD CAROUSEL-->
<div  class="col-sm-6">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="{% static 'images/teams.jpg' %}" class="d-block mx-auto" alt="Teams">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:yellow;font-size:200%;">IPL Teams</h5>
        <p style="color:red;font-size:100%;"> <b><i>A CUP TO DREAM OF</i></b></p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="{% static 'images/teamEmblems.jpg' %}" class="d-block mx-auto" alt="Logos">
      <div class="carousel-caption d-none d-md-block">
        <!--<h5 style="color:yellow;font-size:300%;"><b>Logos</b></h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="{% static 'images/Winner.jpg' %}" class="d-block mx-auto" alt="Winner">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:yellow;font-size:200%;"> <b>Champion 2019<b></h5>
        <p style="color:yellow;font-size:100%;">Team to beat</p>
      </div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"><strong>Previous</strong></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"><strong>Next</strong></span>
  </a>--> 
</div>
</div>
	
	
	
	
<!-- <body>
<div id="wrapD3Cube">
    <div id="D3Cube" class="cube-wrap vertical" style="display: block;">
        <div id="side1"><p STYLE="TEXT-ALIGN:CENTER;"> PYTHON PROJECT</p></div>
        <div id="side2"><P> JAISHRUTI G MAHADEVAN</p></div>
        <div id="side3"><P>II YEAR</p></div>
        <div id="side4"><p>INFORMATION TECHNOLOGY</p></div>
        <div id="side5"><p>THANK YOU TEACHERS</p></div>
        <div id="side6"><p> </p></div>
    </div>
</div>
</body> -->

</br>
</br>
</br>


<div id="flip">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1><center>@Project by</center></h1>
	  <p><center>Jaishruti G. Mahadevan</center></p>
	  <p><center>DJSCE SE IT</center></p>
      <p><center>SAP ID:60003180019</center></p>
    </div>
    <div class="flip-card-back"> 
      <p>Under the guidance of:</p>
	  <p><center>Purva ma'am</center></p>
	  <p><center>and</center></p> 
	  <p><center>Prachi ma'am</center></p>	  
    </div>
  </div>
</div>
</div>
<!-- <p style="text-align: center;">
    <a onclick="turnLeft()">Left</a>
    <a onclick="turnRight()">Right</a> <br />
    <a onclick="flipCube()">Flip</a>
</p> -->


       
{% endblock %}
    